<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappassignja.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/45f63aab-e46c-4be8-bb77-43fe31240084/resourceGroups/JayanthRG2/providers/Microsoft.Web/sites/functionappassignja</ResourceId>
    <UserName>$functionappassignja</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionappassignja.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>